@import './normalize.css';
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  src: url("../../src/fonts/roboto-v32-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.header__link:hover {
  color: #F9804B;
  transition: 0.3s ease-in-out;
}

.gallery__itemn:hover .gallery__img {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  filter: brightness(25%);
}

.gallery__itemn:hover .gallery__desk {
  margin-top: -15%;
  transition: 0.3s ease-in-out;
}

.gallery__btn:hover {
  transition: 0.3s ease-in-out;
  background-color: #4B9200;
}

.header {
  padding: 15px 0px 13px 0px;
  background-color: #000000;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 0 10px;
}

.header__logo-img {
  width: 82px;
  height: 52px;
  background-size: 82px 52px;
  background-image: url("../../src/img/logo/logo_footer.svg");
  cursor: pointer;
}

.header__designed {
  max-width: 105px;
  width: 100%;
}

.header__link {
  font-size: 1.6rem;
  font-family: "Roboto";
  color: #ffffff;
}

.wrapper {
  max-width: 1080px;
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 0 65px;
}

.header__itemns {
  display: flex;
  flex-direction: row;
  gap: 0 58px;
}

.header__link {
  font-size: 1.6rem;
  font-family: "Roboto";
  color: #ffffff;
  transition: 0.3s ease-in-out;
}

.header__link__active {
  color: #F9804B;
}

.favorite {
  padding: 0 0 97px 0;
  background-image: url("../../src/img/favorite/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.favorite__desk {
  padding: 1% 0 0 54.4%;
  margin-bottom: 35px;
}

.favorite__circle {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background-color: #F9804B;
}

.favorite__title {
  max-width: 400px;
  width: 100%;
  margin-top: -80%;
  margin-left: 15%;
  text-align: center;
  font-family: "Roboto";
  font-size: 9rem;
  line-height: 95%;
  color: #ffffff;
  text-transform: uppercase;
}

.favorite__title__color {
  color: #FFEE2E;
}

.favorite__btn {
  margin: 0 15px;
  display: flex;
  justify-content: flex-end;
}

.backstage {
  display: flex;
  flex-direction: row;
}

.backstage__wrapper {
  display: flex;
  flex-direction: row;
  padding: 70px 0px 0px 125px;
  gap: 0 85px;
}

.backstage__flowers {
  width: 125px;
  height: 612px;
  background-size: cover;
  background-image: url("../../src/img/flowers/flower_foto1.png");
  background-repeat: no-repeat;
}

.backstage__img {
  height: 403px;
}

.backstage__title {
  width: 465px;
  margin-bottom: 23px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 57px;
}

.backstage__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 20.8px;
}

.backstage__text_big {
  margin-top: 55px;
  line-height: 28.8px;
  font-size: 2.4rem;
}

.backstage__text_desk {
  margin-top: 35px;
}

.gallery {
  position: relative;
  padding: 7.4% 0 0 0;
}

.gallery__itemns {
  display: grid;
  margin: 0 0 17% 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
}

.gallery__itemn {
  position: relative;
  max-width: 366px;
  width: 366px;
  border-radius: 5px;
  border: 1px solid #F9804B;
  cursor: pointer;
  overflow: hidden;
}

.gallery__img {
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.gallery__desk {
  width: 100%;
  margin-top: 0;
  display: flex;
  position: absolute;
  padding: 10px 10px 10px 10px;
  flex-direction: row;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
}

.gallery__inf {
  width: 294px;
}

.gallery__title {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 22px;
  text-transform: uppercase;
}

.gallery__text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 18px;
}

.gallery__pic {
  width: 37px;
  height: 37px;
  background-size: 37px 37px;
}
.gallery__pic_banana {
  background-image: url("../../src/img/icon-slaider/banana-bamboo.svg");
}
.gallery__pic_fish {
  background-image: url("../../src/img/icon-slaider/meet-fish.svg");
}

.gallery__btns {
  max-width: 87%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -39.5% 0 0 -5.4%;
}

.gallery__btn {
  border-radius: 50%;
  background-color: #F9804B;
  width: 62px;
  height: 62px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.gallery__btn_left {
  background-image: url("../../src/img/icons/Vector-pref.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.gallery__btn_right {
  background-image: url("../../src/img/icons/Vector-next.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.gallery__button {
  display: flex;
  justify-content: center;
}

.gallery__backraund {
  max-width: 100%;
  width: 100%;
  position: absolute;
  margin: -23% 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.gallery__backraund_img_right {
  width: 292px;
  height: 460px;
  background-size: cover;
  background-image: url("../../src/img/flowers/palm_foto.svg");
  background-repeat: no-repeat;
}

.gallery__backraund_img_left {
  width: 368px;
  height: 275px;
  background-size: cover;
  background-image: url("../../src/img/flowers/strelitzia.svg");
  background-repeat: no-repeat;
}

.btn {
  width: 298px;
  padding: 20px 0px;
  background-color: #F9804B;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
}

html {
  font-size: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
