//color
$color-header-footer:#000000;
$color-active-btn:#4B9200;
$color-btn:#F9804B;
$color-form-default:#333B41;
$color-btn-default:#767474;
$color-title:#FFEE2E;
$color-block-charity:#FED290;
$color-block-charity-gradient:#FEBDAB;
$color-not-valid:#D31414;
$color-btn-background:#F1F3F2;
$color-background:#FDFDFF;
$color-nav:#ffffff;
$color-itemn: #BDBDBD;
$color-gradient: #FFE7CF;
$color-sum: #FE9013;

$max-width: 1080px;

//media

$desktop-bg: 1600px;
$desktop-gallery: 1525px;
$desktop-bg-small: 1230px;
$desktop-pay-small: 1195px;
$desktop-big: 1080px;
$desktop: 1000px;
$desktop-small-gallery: 940px;
$desktop-small: 840px;
$tablet-big-gallery: 750px;
$tablet-small-gallery: 720px;
$tablet-big: 675px;
$tablet: 640px;
$tablet-small: 611px;
$mobale-small-gallery: 550px;
$mobale-big: 520px;
$mobale-gallery: 440px;
$mobale-big-favorite: 420px;
$mobale-small-favorite: 385px;
$mobale-section-favorite: 360px;
$mobale: 320px;
$mobale-small: 315px;

