//color
$color-active-btn:#4B9200;
$color-btn:#F9804B;
$color-form-default:#333B41;
$color-btn-default:#767474;
$color-title:#FFEE2E;
$color-block-charity:#FED290;
$color-block-charity-gradient:#FEBDAB;
$color-not-valid:#D31414;
$color-btn-background:#F1F3F2;
$color-background:#FDFDFF;

$max-width: 1160px;

