.donate__amount {
  margin: 0 0 11% 0;
  @include tablet {
    display: grid;
    align-items: center;
    justify-content: center;
  };
  @include mobale-footer {
    margin: 0 0 11% 10%;
  };
  @include mobale-footer {
    margin: 0 0 15% 10%;
  };
  @include mobale-gallery {
    margin: 0 0 25% 5%;
  };
  @include mobale-section-favorite {
    margin: 0 0 25% 4%;
  }
}

.donate__amount-title {
  position: relative;
  margin: 0 0 12px 0;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
};

.donate__amount-itemns {
  position: relative;
  width: 100%; 
  display: flex;
  height: 27px;
  padding: 0px 0px;
  flex-direction: row;
  gap: 0 60px;
  background-color: $color-form-default;
  border-radius: 3px;
  @include desktop {
    width: 90%; 
    gap: 0 40px;
  };
  @include desktop-small-gallery {
    width: 100%;
  };
  @include tablet-small-footer {
    width: 100%;
    gap: 0 25px;
  };
  @include tablet {
    width: 90%;
    gap: 0 0px;
  };
  @include mobale-section-favorite {
    width: 94%;
  }
};

.donate__amount-itemns:before {
  content: "";
  position: absolute;
  width: 95%;
  height: 2px;
  margin: 15px 0 0 20px;
  background-color: $color-btn-default;
  @include desktop-small-gallery {
    width: 90%;
  };
  @include tablet {
    width: 90%;
  };
  @include mobale-section-favorite {
    width: 87%;
  }
};

.donate__amount-itemn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 8%;
  @include desktop-small-gallery {
    flex: 0 1 18%;
  };
  
};

.donate__amount-itemn:first-child {
  margin-left: -10px;
}

.input__radio {
  position: relative;
  margin: 10px 0 5px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
};

.input__radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: $color-title;
};

.input__radio:checked + label {
  color: $color-sum;
  transition: 0.2s ease-in-out;
};

.input__radio:checked + .input__label::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 20px;
  top: 8px;
  left: -20px;
  background-image: url('../../src/img/donate-bg/vector__active.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
};

.input__label {
  width: 45px;
  position: relative;
  display: flex;
  margin: 27px 0 0 -6px;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 500;
  color: $color-form-default;
  font-size: 2.6rem;
  line-height: 36px;
  transition: 0.2s ease-in-out;
  @include desktop-small-gallery {
    margin: 27px 0 0 55px;
    font-size: 2.2rem;
  };
  @include tablet {
    width: 20%;
  };
  @include mobale-footer {
    margin: 27px 0 0 43px;
  };
  @include mobale-gallery {
    margin: 27px 0 0 33px;
    font-size: 1.6rem;
  };
  @include mobale-section-favorite {
    margin: 27px 0 0 27px;
  }
};


.input__radio:checked + .input__label::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -47px;
  left: 10px;
  background-image: url('../../src/img/donate-bg/roller_icon.png'), url('../../src/img/donate-bg/ellipse__icon.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.input__label::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 20px;
  top: 8px;
  left: -20px;
  background-image: url('../../src/img/donate-bg/Vector.png');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
};

//media start

.donate__amount-itemn_5000, .donate__amount-itemn_2000, .donate__amount-itemn_1000 {
  @include desktop-small-gallery {
    display: none;
  }
};

.donate__amount-itemn_500 {
  @include desktop-small-gallery {
    margin-left: -6.5%;
  }
}


//media end



