.background-animal {
  width: 100%;
  height: 390px;
  background-image: url('../../src/img/donate-bg/panda_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
  @include tablet {
    background-position: 30% 50%;
  }
}