.btn {
  width: 298px;
  padding: 20px 0px;
  background-color: $color-btn;
  color: $color-nav;
  font-family: 'Roboto';
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
  @include mobale-small {
    width: 220px;
  }
};

.button {
  width: 298px;
  padding: 20px 0px;
  background-color: $color-btn;
  color: $color-nav;
  font-family: 'Roboto';
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
}