.donate {
  padding: 2.4% 0 2% 0;
  background-color: $color-block-charity-gradient;
};

.wrapper__donate {
  padding: 20px 20px;
}

.donate__title {
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 3.3rem;
  line-height: 46px;
  color: $color-nav;
  @include tablet {
    font-size: 2.4rem;
    line-height: 22px;
  }
};

.donate__text {
  margin-bottom: 46px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 22px;
  color: $color-nav;
};

.donate__title-information {
  margin-bottom: 5.8%;
  color: $color-btn;
};

.donate__img-icon {
  @include mobale-small-favorite {
    width: 7px;
    height: 7px;
  }
}

.donate__img {
  @include tablet {
    width: 160px;
    height: 138px;
  }
};

.donate__block {
  max-width: 100%;
  padding: 37px 90px 50px;
  background-color: $color-gradient;
  border-radius: 20px;
  @include desktop-small-gallery {
    padding: 37px 10px 50px;
  }
};

.donate__block-title {
  margin-bottom: 25px;
  text-align: center;
  color: $color-btn;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 4.3rem;
  line-height: 57px;
};

.donate__block-text {
  margin-bottom: 7%;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 28px;
};

.donate__block-animal {
  display: flex;
  margin-bottom: 5%;
  flex-direction: row;
  justify-content: center;
  gap: 0 30px;
  @include mobale-gallery {
    justify-content: space-between;
  };
  @include mobale-small-favorite {
    gap: 0 5px;
  }
}

.donate__block-diet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    justify-content: flex-end;
  };
  @include mobale-small-favorite {
    width: 129px;
  };
  @include mobale-section-favorite {
    gap: 30px 0;
  }
};

.donate__block-imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
  @include mobale-gallery {
    gap: 0 10px;
  }
};

.donate__block-desk {
  text-align: center;
  font-family: 'Roboto';
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 57px;
  color: $color-form-default;
  @include tablet {
    font-size: 0.9rem;
  };
  @include mobale-section-favorite {
    line-height: 15px;
  }
};

.donate__block-numbers {
  color: $color-header-footer;
  font-size: 7.2rem;
  @include tablet {
    font-size: 4.0rem;
  }
};

//input

.donate__form_input {
  margin: 0 0 3% 0;
  text-align: center;
}

.form_input {
  min-width: 268px;
  min-height: 54px;
  padding: 0 10px;
  background-image: url('../../src/img/donate-bg/Vector.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.9rem;
  color: $color-header-footer;
  @include mobale-small-favorite {
    min-width: 180px;
    min-height: 42px;
  }
};

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
};

//input radio

.donate__form_radio {
  display: flex;
  margin-bottom: 25px;
  justify-content: center;
};

.donate__form_radio_itemns {
  display: flex;
  flex-direction: row;
  gap: 0 60px;
};

.donate__form_radio_el {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
  color: $color-form-default;
};

.radio {
  position: relative;
  
  height: 15px;
  width: 15px;
  
  border-radius: 50%;
  border: 2px solid $color-btn;
  margin: -15px 0 0 -25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
};

.radio:checked {
  background-color: $color-btn;
};

.donate__link {
  color: $color-nav;
};

.donate__btn {
  text-align: center;
};

.donate__button {
  margin: 0 0 30px 0;
  @include mobale-small-favorite {
    width: 228px;
  }
}

.donate__btn-text {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 22px;
  color: $color-form-default;
}



