.favorite {
  padding: 0 0 97px 0;
  background-image: url('../../src/img/favorite/favorite_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
};

.favorite__desk {
  padding: 1% 0 0 54.4%;
  margin-bottom: 35px;
}

.favorite__circle {
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background-color: $color-btn;
};

.favorite__title {
  max-width: 400px;
  width: 100%;
  margin-top: -80%;
  margin-left: 15%;
  text-align: center;
  font-family: 'Roboto';
  font-size: 9rem;
  line-height: 95%;
  color: $color-nav;
  text-transform: uppercase;
};

.favorite__title__color {
  color: $color-title;
};
 

.favorite__btn {
  margin: 0 15px;
  display: flex;
  justify-content: flex-end;
};

.btn {
  width: 298px;
  padding: 20px 0px;
  background-color: $color-btn;
  color: $color-nav;
  font-family: 'Roboto';
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 30px;
  border: none;
}