.gallery {
  position: relative;
  padding: 7.4% 0 6.8% 0;
}

.gallery__itemns {
  display: grid;
  margin: 0 0 17% 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
  @include desktop-gallery {
    margin: 0 0 26% 0;
    padding: 0 15px;
    gap: 10% 30px;
  };
  @include desktop-big {
    margin: 0 0 10% 0;
    grid-template-columns: repeat(2, 0.3fr);
    justify-content: center;
    gap: 5% 20%;
  };
  @include tablet-big-gallery {
    margin: 0 0 15% 0;
    gap: 5% 5%;
  };
  @include tablet-big {
    gap: 2% 2%;
  };
  @include tablet-small {
    grid-template-columns: repeat(1, 0.3fr);
  };
  @include mobale-small-favorite {
    margin: 0 0 25% 0;
  }
};

.gallery__itemn {
  position: relative;
  max-width: 366px;
  border-radius: 5px;
  border: 1px solid $color-btn;
  cursor: pointer;
  overflow: hidden;
  @include desktop-big {
    width: 285px;
  }
};

.gallery__img {
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  @include desktop-big {
    width: 285px;
    height: 285px;
  }
};

.gallery__desk {
  width: 100%;
  margin-top: 0;
  display: flex;
  position: absolute;
  padding: 10px 10px 10px 10px;
  flex-direction: row;
  background-color: $color-nav;
  transition: 0.3s ease-in-out;
  @include desktop-bg {
    padding: 1px 10px 10px 10px;
  };
  @include desktop-gallery {
    padding: 5px 10px 10px 10px;
  };
  @include desktop {
    margin-top: -27%;
  };
  @include tablet-big {
    margin-top: -23%;
    align-items: end;
  };
  @include tablet-small {
    margin-top: -27%;
  }
};

.gallery__inf {
  width: 294px;
  @include desktop-gallery {
    width: 274px;
  };
  @include desktop {
    width: 80%;
  }
}

.gallery__title {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 22px;
  text-transform: uppercase;
  @include tablet-big {
    font-size: 1.2rem;
  }
};

.gallery__text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 18px;
  @include tablet-big {
    font-size: 1.1rem;
  }
};

.gallery__pic {
  width: 37px;
  height: 37px;
  background-size: 37px 37px;
  &_banana {
    background-image: url('../../src/img/icon-slaider/banana-bamboo.svg');
  };
  &_fish {
    background-image: url('../../src/img/icon-slaider/meet-fish.svg');
  };
  @include tablet-big {
    width: 25px;
    height: 28px;
    background-size: 25px 28px;
  };
};

//gallery btn

.gallery__btn {
  position: absolute;
  top: 38%;
  border-radius: 50%;
  background-color: $color-btn;
  width: 62px;
  height: 62px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &_left {
    left: 8%;
    background-image: url('../../src/img/icons/Vector-pref.svg');
    background-repeat: no-repeat;
    background-position: center;
    @include desktop-gallery {
      left: 45%;
    };
    @include desktop-big {
      left: 43%;
    };
    @include desktop-small-gallery {
      left: 41%;
    };
    @include tablet-small {
      left: 10%;
    };
    @include mobale-small-gallery {
      left: 1%;
    };
    @include mobale-small-favorite {
      left: 20%;
    }
  };
  &_right {
    right: 9%;
    background-image: url('../../src/img/icons/Vector-next.svg');
    background-repeat: no-repeat;
    background-position: center;
    @include desktop-gallery {
      right: 40%;
    };
    @include desktop-big {
      left: 50%;
    };
    @include desktop-small-gallery {
      left: 51%;
    };
    @include tablet-small {
      left: 79%;
    };
    @include mobale-small-gallery {
      left: 85%;
    };
    @include  mobale-gallery {
      left: 92%;
    };
    @include mobale-small-favorite {
      left: 70%;
    }
  };
  @include desktop-gallery {
    top: 35%;
  };
  @include tablet-big-gallery {
    top: 82%;
  };
  @include tablet-small-gallery {
    top: 84%;
  };
  @include tablet-small {
    top: 44%;
  };
  @include  mobale-gallery {
    width: 30px;
    height: 30px;
  };
  @include mobale-small-favorite {
    top: 93.5%;
  }
};

.gallery__button {
  position: relative;
  display: flex;
  justify-content: center;
};

