.testimonials {
  padding: 12% 0 11.6% 0;
}

.testimonials__title {
  margin-bottom: 45px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 46px;
  color: $color-form-default;
};


.testimonials__content {
 overflow-x: hidden;

 @include desktop-pay-small {
  width: 80%;
  margin-left: 8%;
};
@include desktop-testimonials-small {
  height: 630px;
  padding: 0 0 30px 0;
  overflow-y: hidden;
};
@include desktop-big {
  height: 660px;
};
@include desktop {
  height: 465px;
};
@include tablet {
  
}
};



.testimonials__itemns {
  max-width: 100%;
  display: flex;
  margin-bottom: 25px;
  gap: 0 10px;
  justify-content: space-between;

  transition: transform 0.5s ease-in-out;
  @include desktop-testimonials-small {
    flex-direction: column;
    gap: 20px 0px;
  }
}

.testimonials__itemn {
  max-width: 220px;
  flex-shrink: 0;
  padding: 15px 20px 20px;
  background-color: $color-btn-background;
  border: 1px solid $color-block-charity-gradient;
  border-radius: 20px;
  @include desktop-pay-small {
    max-width: 200px;
  };
  @include desktop-testimonials-small {
    max-width: 100%;
  };
  @include desktop {
    height: 109px;
    overflow-y: hidden;
  }
};

.testimonials__itemn-header {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  gap: 0 10px;
};

.testimonials__img {
  width: 37px;
  height: 37px;
};

.testimonials__name {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 19px;
  color: $color-header-footer;
};

.testimonials__local {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 18px;
  color: $color-itemn;
};

.testimonials__text {
  max-height: 302px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 18px;
  color: $color-btn-default;
  overflow: hidden;
  @include desktop-pay-small {
    max-height: 300px;
    font-size: 1.3rem;
  }
};

.testimonials__button {
  @include desktop-testimonials-small {
    margin: 10% 0 0 0;
    text-align: center;
  }
}


//input

input[type=range] {
  -webkit-appearance: none;
  width: 50%;
  height: 8px;
  margin-left: calc(50% - 599px / 2);
  margin-bottom: 27px;
  appearance: none;
  cursor: pointer;
  background-color: $color-btn-background;
  border: 1px solid $color-block-charity-gradient;
  border-radius: 5px;
  @include desktop-testimonials-small {
    margin: 20px 0 27px 25%;
  };
  @include desktop-testimonials-small {
    display: none;
  }
};

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 115px;
  background-color: $color-btn;
  height: 8px;
  border-radius: 10px;
};
//open
.testimonials__open {
  display: none;
  max-width: 100%;
  height: 10px;
  margin: 5% 0 0 0;
  border-radius: 20px;
  text-align: center;
  @include desktop-testimonials-small {
    display: block;
  }
};

.testimonials__open-title {
  font-size: 2.7rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
};

//animals

.testimonials__content_open {
  height: 100%;
  //transform: translateY(100%);
  transition: 0.3s ease-in-out;
  //animation-name: testimonials__open_animal;
  //animation-duration: 0.8s;
}

@keyframes testimonials__open_animal {
  from {
      //width: 0;
      //transform: translateY(0%)
  }
  to {
    //width: 100%;
    //transform: translateY(-100%)
  }
}

