.header {
  padding: 15px 10px 13px 10px;
  background-color: $color-header-footer;
  @include tablet {
    padding: 3px 5px 3px 5px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 0 10px;
};

.header__logo-img {
  width: 82px;
  height: 52px;
  background-size: 82px 52px;
  background-image: url('../../src/img/logo/logo_footer.svg');

  cursor: pointer;
  @include tablet {
    width: 46px;
    height: 29px;
    background-size: 46px 29px;
  }
};

.header__designed {
  max-width: 105px;
  width: 100%;
  @include tablet {
    display: none;
  }
};

.header__link {
  font-size: 1.6rem;
  font-family: 'Roboto';
  color: $color-nav;
};