.header {
  padding: 15px 0px 13px 0px;
  background-color: $color-header-footer;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 0 10px;
};

.header__logo-img {
  width: 82px;
  height: 52px;
  background-size: 82px 52px;
  background-image: url('../../src/img/logo/logo_footer.svg');

  cursor: pointer;
};

.header__designed {
  max-width: 105px;
  width: 100%;
};

.header__link {
  font-size: 1.6rem;
  font-family: 'Roboto';
  color: $color-nav;
};